/* *{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    letter-spacing: 2px;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
} */

/* .inputFile{
    display: none;
}
.fileText{
margin-bottom: 10px;
} */
/* .plus{
    height: 100px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    margin-bottom: 10px;
    font-size: 100px;
    background: linear-gradient(45deg,blue,red);
    cursor: pointer;
}  */
button{
    padding: 10px 10px;
    background: rgb(12, 70, 179);
    color: white;
    border: none;
    margin-bottom: 10px;
    cursor: pointer;
    font-size: 20px;
    font-weight: 700;
}

.fire{
  width: 300px;
  border: 10px solid black;
  padding: 50px;
  margin: 20px;
  position: absolute;
  top: 80px;
  right: 170px;
  /* width: 200px; */
  /* height: 100px; */
 
}
.bar{
    height: 20px;
    width: 200px;
    background: #80808073;
    margin-bottom: 10px;
    position: relative;
    right: 15px;
}
.progress{
    background: linear-gradient(12deg,red,blue);
    height: 100%;
    width: 0%;

}
.uploadPercentage{
    font-size: 15px;
}
.img{
    height: 200px;
    width: auto;
    object-fit: contain;
    display: none;
    border: 5px solid cornflowerblue;
}
.imageUploaded{
    margin-top: 10px;
}